#collection-video-container {
    position: relative;
    margin-bottom: 16px;
    cursor: pointer;
    width: 100%;
}

#collection-video-container #video-play-toggle {
    z-index: 101;
    background-image: url("https://streamable.com/e/8qnb61");
    background-position: -4px -10px;
    background-repeat: no-repeat;
    background-size: 36px 36px;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 20px;
    bottom: 20px;
}

#collection-video-container #video-mute-toggle.muted {
    background-position: -17px -10px;
}

#collection-video-container #video-mute-toggle {
    z-index: 101;
    background-image: url("https://streamable.com/e/8qnb61");
    background-position: -4px -10px;
    background-repeat: no-repeat;
    background-size: 36px 36px;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 40px;
    bottom: 20px;
}

#collection-video-container .clickable-area {
    position: absolute;
    padding-bottom: 125%;
    width: 100%;
    display: block;
    top: 0;
    z-index: 100;
}

a {
    text-decoration: none;
    color: #333;
}

*, :after, :before, input {
    box-sizing: border-box;
}

#collection-video-container video {
    z-index: 1;
    width: 100%;
    display: block;
}



video {
        object-fit: contain;

    
}

element.style {
    padding-top: 170px;
}
